# Zip files
*.zip

# Blender
*.blend
*.blend2

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Node
node_modules/

client-tester/node_modules/

.vscode/

video-scripts/videos/
video-scripts/.vscode/
video-scripts/sign-videos/
video-scripts/merged_video.mp4

final-data/
staging-data/
